@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Start to work on the excel upload.<a href="https://docs.microsoft.com/aspnet/core"></a>Build a book tracking system that tracks book that have been given out to customers and need to be returned with a certain time, those books loaned out should be tracked against the ones that are available. 3 tables, one should store avaibles book, 2nd should compard the returned books with the available books to know the ones borrowed by a individual customers.
    </p>
</div>
