html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.up {
    margin-top:35px;
}

.up form button[type="submit"] {
    margin-left:45px;
}

.category-table {
    margin-top: 35px;
}